/*

    @author: Rick, Max, Merlijn, Fleur
    Voor iCOV


    - General reset
    - Homepage sections
        - Nav bar
        - Articles

 */


/* General reset */
/* =============================================================================================== */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: black;

}

:root {
    --purple: #564BAA;
    --blue: #42AAE1;
    --orange: #F06419;
    --lightgrey: #EDEDED;
    --grey: #E7E7E7;
    --rijksblue: #154273;
}

/* =============================================================================================== */


/* Elements */
/* =============================================================================================== */

 body {
    overflow-x: hidden;
}

p {
    font-size: 0.8rem;
}

h1 {
    margin-left: 1.5rem;
    margin: 3rem 0rem 1rem 1.5rem;
}

img {
    max-width: 100%;
}

/* =============================================================================================== */


/* Homepage */
/* =============================================================================================== */

/* Nav */

/* ------------------------------------------------------------------------------------------------ */

.abovenav img {
    display: block;
    margin: 0 auto 5%;
    width: 5vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgrey);
    list-style: none;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

header a svg {
    width: 25vw;
    max-width: 114px;
}

.nav_toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav_toggle_line {
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before,
.nav_toggle_line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before {
    transform: translateY(-16px);
}

.nav_toggle_line::after {
    transform: translateY(16px);
}

.nav_toggle.open .nav_toggle_line {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.nav_toggle.open .nav_toggle_line::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav_toggle.open .nav_toggle_line::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
    position: absolute;
    width: 100vw;
    right: 100vw;
    top: 9vh;
    transition: .5s ease-in;
}

.menu ul{
  background-color: var(--grey);
  list-style: none;
}

.menu ul li {
    padding: 1rem 0 1rem 2rem;
}

.menu ul li a{
  text-decoration: none;
  color: black;
}

.menu ul li:not(:last-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.active {
    right: -32%;
    transition: .5s ease-in;
}

/* Nav end */

/* ------------------------------------------------------------------------------------------------ */

/* Header */
.headertext figure {
    position: relative;
}

.headerH1 {
    margin: -1rem 0rem 0rem 0rem;
}

.headertext figure figcaption {
    position: absolute;
    top: 10%;
    margin: 0 1.5rem;
}

.headertext figure img {
    width: 100vw;
    z-index: -1;
}

video {
    width: 100%;
    height: auto;
}
/* Header end*/

/* ------------------------------------------------------------------------------------------------ */

/* Topics */

.slider {
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;

}    

.slider>div {
    margin-right: 10%;
    width: 60vw;
    height: 60vw;

} 

.slider div h2 {
    position: absolute;
    bottom:0 ;
    left: 10px;
    width: auto;
    font-weight: bold;
    color: white;
}  

.innerdiv {
    position: relative;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/grapperhaus.png);
    background-size: cover;
    height: 60vw;
    width: 60vw;
}

#topic1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/mondkapje.jpg);
    background-size: cover;
}

#topic3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/rechtzaal.jpg);
    background-size: cover;
}

/* Topics end*/

/* ------------------------------------------------------------------------------------------------ */

/* Themes */

.theme {
    margin-bottom: 1rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    border-radius: 0 50px 0 0;
}

.themefold{
    display: none;
}

.theme img {
    /* height: 5%; */
    width: 50%;
    max-width: 15rem;
    display: block;
    margin: 0 auto;
}

.theme button {
    border: none;
    margin: 0.5rem 0rem;
    border-radius: 0px 15px 0px 15px;
    background-color: var(--orange);
    color: white;
    padding: 0.5rem;
}


.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thema1 button:hover,
.flinks button:hover {
    margin-top: 2rem;
    padding: 1rem 3rem;
    border: none;
    border-color: none;
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    border-radius: 0px 25px 0px 25px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.buttonWrapper button:hover {
    padding: 1rem 1rem;
    border: none;
    border-color: none;
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    border-radius: 0px 25px 0px 25px;
    background-color: white;
    color: black;
    font-weight: bold;

}

/* Themes end */

/* ------------------------------------------------------------------------------------------------ */

/* Podcast */

.podcast {
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    border-radius: 0 50px 0 0;
}

.podcast>p {
    padding: 1rem 1.5rem;

}

.podcastpicture {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 61;
    border-radius: 0px 100px 0px 0px;
}

.podcastwrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 1.5rem;
}

.podcastwrapper div {
    width: 40vw;
    height: 40vw;
    margin-right: 1rem;
}

.podcastwrapper div img {
    object-fit: cover;
    filter: brightness(50%);
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    /* width: calc(40vw + (25 - 40) * ((100vw - 321px) / (767 - 321))); */
    /* height: calc(40vw + (25 - 40) * ((100vw - 321px) / (767 - 321))); */
}

.podcastwrapper div h3 {
    position: relative;
    bottom: calc(58vw + (10 - 58) * ((100vw - 321px) / (767 - 321)));
    color: white;
    margin-left: 6px;
    font-size: 23px;
    height: 2rem;
}

.podcastwrapper div p {
    position: relative;
    bottom: calc(40vw + (-40 - 40) * ((100vw - 321px) / (767 - 321)));
    color: white;
    margin-left: 10px;
}

.podcastwrapper div input {
    position: relative;
    bottom: 25px;
    left: calc(27vw + (20 - 27) * ((100vw - 321px) / (767 - 321)));
    width: calc(14vw + (13 - 14) * ((100vw - 321px) / (767 - 321)));
}

.podcast button {
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: var(--purple);
    color: white;
    height: 150px;
    width: 60px;
    display: none;
}

/* Podcast audioplayer */


.removeaudioplayer {
    display: none;
}

.show {
    display: block;
}

.audioplayer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 21;
    background-color: #f1f3f4;
    box-shadow: 0px -4px 32px -1px rgba(0, 0, 0, 0.46);
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 60;
}


.audioplayer audio {
    margin-left: 5%;
    width: 550px;
}

.audioplayer img {
    margin-left: 2%;
    z-index: 61;
}


/* Podcast end */

/* ------------------------------------------------------------------------------------------------ */

/* Cases */
.cases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 50vh; */
}

.timeline,
.articles {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline {
    justify-content: space-around;
}

.line {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 60vh;
    background-color: var(--lightgrey);
    z-index: -1;
    margin: 0 auto;
}

.date {
    padding: 0.5rem 0rem;
    background-color: var(--blue);
    border-radius: 0px 15px 0px 15px;
    text-align: center;
    width: calc(6rem + (50 - 6) * ((100vw - 321px) / (767 - 321)));
}

.date p {
    color: white;
}

.articles article {
    position: relative;
    width: 60vw;
    height: 100vh;
    margin-left: 10%;
    max-height: 31%;
    margin-bottom: 1rem;
}

.articles article img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.casetitle {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: left !important;
    bottom: 0;
    padding: 1rem;
}

.praktijkbutton {
    border: none;
    width: 40%;
    border-radius: 0px 15px 0px 15px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);

}

/* Cases end */

/* ------------------------------------------------------------------------------------------------ */

/* FAQ */

.faq {
    background-color: var(--lightgrey);
    margin-bottom: 5rem;
}

.faq div ul {
    display: flex;
    flex-direction: column;
}

.faq div ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.faq div ul li img {
    margin-left: 1rem;
}

.faq div ul li:not(:last-child) {
    border-bottom: 1px solid gray;
}

.faq div ul li p {
    margin-left: 1rem;
    max-width: 80vw;
}

.faq>img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    
}


/* FAQ end */

/* ------------------------------------------------------------------------------------------------ */

/* Footer */

footer {
    background-color: #E7E7E7;
    padding-top: 2rem;
}

.freport p {
    width: 300px;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.flogo {
    display: block;
    padding-bottom: 5%;
    width: 25vw;
    max-width: 250px;
    margin: 0 auto;
}

.flanguage {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 auto;
}

.flanguage p {
    text-align: center;
    margin-top: 1rem;
}

.flanguage a {
    text-align: center;
    color: #660099;
    text-decoration: none;
}

.language_toggle{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
  
.language_toggle p{
    padding: 0.2rem;
}
  
.language_toggle p:nth-child(odd){
    transition: all .1s ease-in;
}
  
.language_toggle p:nth-child(odd):hover{
    cursor: pointer;
}
  
.toggled{
    transition: all .1s ease-in;
    border-bottom: 2px solid black;
}

.fbottom {
    background-color: grey;
    margin-top: 2rem;
}

.fbottom p {
    width: 100%;
    text-align: center;
}

.freport button {
    border: none;
    margin: 0.5rem 0rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem 1rem;
}

.freport {
    text-align: center;
    margin: 0 auto;
}

.freport button:hover {
    padding: 1rem 1rem;
    border: none;
    border-color: none;
    -webkit-box-shadow: inset 0px 0px 0px 11px var(--orange);
    -moz-box-shadow: inset 0px 0px 0px 11px var(--orange);
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    border-radius: 0px 25px 0px 25px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.lintje {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 60px;
    align-content: center;
    background-color: var(--rijk);
}

/* Footer end */


/* ------------------- Hidden Desktop elements styles -----------*/

.themefold{
    display: none;
}

.desktopNav {
    display: none;
}

.podcastDesktopImage {
    display: none;
}

.panel {
    display: none;
}


.slider div div p {
    display: none;
}

.sliderbuttonright {
    display: none;
}

/* Media querey for bigger smartphone screen sizes */

@media screen and (min-width: 321px) {


}

/* Media querey for tablet screen size */

@media screen and (min-width: 768px) {

}

/* Media querey for small desktop screen size */

@media screen and (min-width: 1024px) {
}

/* Media querey for standard desktop screen size and larger*/

@media screen and (min-width: 1440px) {

}