/*
@author: Rick, Max, Merlijn, Fleur 
Voor iCOV 
- General reset 
- Homepage sections 
- Nav bar 
- Header 
- Slider 
- Themes 
- Podcast 
- Cases 
- FAQ 
- Footer 
- Media qeuery's
- Tablet 
- Desktop 
 */

/* General reset */
/* =============================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
    color: black;
}

:root {
    --purple: #564BAA;
    --blue: #42AAE1;
    --orange: #F06419;
    --lightgrey: #EDEDED;
    --grey: #E7E7E7;
    --rijksblue: #154273;
}

/* =============================================================================================== */

/* Elements */

/* =============================================================================================== */

body {
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
}

h1 {
    margin-left: 1.5rem;
    margin-top: 8vh;
    margin-bottom: 3vh;
    font-size: 1.7rem;
}

img {
    max-width: 100%;
}

.orange_button {
    border: none;
    margin: 1rem 0rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    font-weight: bold;
}

.orange_button:hover {
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black;
}

.orange_button_desktop {
    border: none;
    margin: 1rem 0rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    width: 60%;
}

.orange_button_desktop:hover {
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black;

}

/* =============================================================================================== */

/* Homepage */
/* =============================================================================================== */

/* Nav */

/* ------------------------------------------------------------------------------------------------ */

.abovenav img {
    display: block;
    margin: 0 auto 25px;
    width: 5vh;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgrey);
    padding: 1rem;
}

header a svg {
    width: 25vw;
    max-width: 114px;
}

.nav_toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav_toggle_line {
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before,
.nav_toggle_line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before {
    transform: translateY(-16px);
}

.nav_toggle_line::after {
    transform: translateY(16px);
}

.nav_toggle.open .nav_toggle_line {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.nav_toggle.open .nav_toggle_line::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav_toggle.open .nav_toggle_line::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
    position: absolute;
    width: 100vw;
    right: 100vw;
    top: 100%;
    transition: .5s ease-in;
}

.menu ul {
    background-color: var(--grey);
    list-style: none;
    margin-bottom: 0;
}

.menu ul li {
    padding: 1rem 0 1rem 2rem;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li:not(:last-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.active {
    right: 0%;
    transition: .5s ease-in;
}

/* Nav end */

/* ------------------------------------------------------------------------------------------------ */

/* Header */

.headertext figure {
    position: relative;
}

.headertext {
    position: relative;
    background-image: url('../img/border.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98vw;
    height: 125px;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 2vw;
    padding-bottom: 70px;
}

.headerH1 {
    margin: -1rem 0rem 0rem 0rem;
}

.headertext figure figcaption {
    position: absolute;
    top: 10%;
    margin: 0 1.5rem;
    width: 75vw;
}

.headertext figure figcaption p {
    font-size: 0.9rem;
}

.headertext figure img {
    height: auto;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

video {
    width: 100%;
    height: auto;
}

/* Header end*/

/* ------------------------------------------------------------------------------------------------ */

/* Topics */

.swiper-slide {
    position: relative;
    overflow: hidden;
}

.swiper-slide h2 {
    position: absolute;
    color: white;
    width: auto;
    height: auto;

    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transition-duration: 0.5s;
}

.swiper-slide p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -200px;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
    max-width: 100%;
    opacity: 0;
}

#topic1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/mondkapje.jpg);
}

#topic2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/grapperhaus.png);
}

#topic3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/rechtzaal.jpg);
}

#topic4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%), url(../img/rotterdam.jpg);
}

#topic1,
#topic2,
#topic3,
#topic4 {
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-container {
    position: relative;
    overflow: visible !important; /* important om swiper te overwriten */
    height: 300px;
    width: 100vw;
    margin: 0 1.5rem !important;
}

.button_topic_right {
    display: none;
}

/* Topics end*/

/* ------------------------------------------------------------------------------------------------ */

/* Themes */

.theme {

    padding: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    border-radius: 0 50px 0 0;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.theme img,
.theme h2 {
    display: inline-block;
    position: relative;

}

.theme h2 {
    margin: 0.7rem 0rem 0.7 1rem !important;
    font-size: 1.5rem;
}

.theme img {
    width: 20%;
    max-width: 15rem;
}

.theme p:nth-child(1) {
    margin-bottom: 2rem;
}

/* Themes end */

/* ------------------------------------------------------------------------------------------------ */

/* Podcast */

.podcast {
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    border-radius: 0 50px 0 0;
    display: block;
}

.podcast>p {
    padding: 1rem 1.5rem;
}

.podcastpicture {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 61;
    border-radius: 0px 100px 0px 0px;
}

.slider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

.slider2::-webkit-scrollbar {
    width: 0 !important;
}

.slider2 div {
    margin-left: 4%;
}

/* Podcast audioplayer */

.removeaudioplayer {
    display: none;
}

.show {
    display: block;
}

.audioplayer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 21;
    background-color: #f1f3f4;
    box-shadow: 0px -4px 32px -1px rgba(0, 0, 0, 0.46);
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 60;
}


.audioplayer audio {
    margin-left: 5%;
    width: 550px;
}

.audioplayer img {
    margin-left: 2%;
    z-index: 61;
}


/* Podcast end */

/* Temp Slider Swiper styles */

.image--wrapper {
    width: 40vw;
    height: 40vw;
    max-width: 200px;
    max-height: 200px;
    background-color: red;
    overflow: hidden;
    position: relative;
}

.image--wrapper img {
    filter: brightness(50%);
}

.image--wrapper p {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 2vw;
}

.image--wrapper h3 {
    width: auto;
    font-size: 1.3rem;
    height: 2rem;
    position: absolute;
    top: 0;
    color: white;
    margin: 1vw;
}

.slider2 div input {
    position: relative;
    bottom: 3vh;
    left: 90%;
    z-index: 20;
}

.image--source {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------------------------------------------------------------------------ */

/* Cases */

.cases {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeline,
.articles {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline {
    justify-content: space-around;
}

.line {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 60vh;
    background-color: var(--lightgrey);
    z-index: -1;
    margin: 0 auto;
}

.date {
    padding: 0.5rem 0.5rem;
    background-color: var(--blue);
    border-radius: 0px 15px 0px 15px;
    text-align: center;
    width: auto;
}

.date p {
    color: white;

    margin: 0.2rem 0.7rem;
}

.articles article {
    position: relative;
    width: 60vw;
    height: 100vh;
    margin-left: 10%;
    max-height: 30%;
    margin-bottom: 1rem;
}

.articles article img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.casetitle {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: left !important;
    bottom: 0;
    padding: 0.5rem;
    font-weight: bold;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.casesbutton {
    border: none;
    width: 40%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}

.casesbutton:hover {
    border-color: none;
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black;

}

/* Cases end */

/* ------------------------------------------------------------------------------------------------ */

/* FAQ */

.faq {
    margin-bottom: 5rem;
}

summary:hover {
    color: var(--orange);
}

.faq details summary {
    font-weight: bold;
    background-color: #EDEDED;
    padding: 0.5rem;
}

.faq details p {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #EDEDED;
}


.art img {
    border-radius: 0;
    max-height: 125px;
    width: 100%;
    object-fit: cover;
}

/* FAQ end */

/* ------------------------------------------------------------------------------------------------ */

/* Footer */

footer {
    background-color: #E7E7E7;
    padding-top: 2rem;
}

.freport p {
    width: 300px;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.flogo {
    display: block;
    padding-bottom: 5%;
    width: 25vw;
    max-width: 250px;
    margin: 0 auto;
}

.flanguage {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 auto;
}

.flanguage p {
    text-align: center;
    margin-top: 1rem;
}

.flanguage a {
    text-align: center;
    color: #660099;
    text-decoration: none;
}

.language_toggle {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.language_toggle p {
    padding: 0.2rem;
}

.language_toggle p:nth-child(odd) {
    transition: all .1s ease-in;
}

.language_toggle p:nth-child(odd):hover {
    cursor: pointer;
}

.toggled {
    transition: all .1s ease-in;
    border-bottom: 2px solid black;
}

.fbottom {
    background-color: grey;
    margin-top: 2rem;
}

.fbottom p {
    width: 100%;
    text-align: center;
}

.freport button {
    border: none;
    margin: 0.5rem 0rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem 1rem;
}

.freport {
    text-align: center;
    margin: 0 auto;
}

.lintje {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 60px;
    align-content: center;
    background-color: var(--rijk);
}

/* Footer end */


/* ------------------- Hidden Desktop elements styles -----------*/

.themefold {
    display: none;
}

.hide {
    display: none;
}

.desktopNav {
    display: none;
}

.podcastDesktopImage {
    display: none;
}

.panel {
    display: none;
}


.slider div div p {
    display: none;
}

.sliderbuttonright {
    display: none;
}

.sliderbuttonleft {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.orange_button_desktop {
    display: none;
}

/* Media query for bigger smartphone screen sizes */

@media screen and (min-width: 321px) {
    .slider div h2 {
        font-size: 1.5rem;

    }
}

/* Media query for tablet screen size */

@media screen and (min-width: 768px) {

    /* Nav */

    /* ------------------------------------------------------------------------------------------------ */


    /* Header */

    /* ------------------------------------------------------------------------------------------------ */

    video {
        height: 24vh;
        object-fit: cover;
    }

    .headerh1 {
        padding-top: 1rem !important;
    }


    .headertext {
        position: absolute;
        top: 20vh;
        left: 0;
        height: 16vh;
        width: 350px;
        padding-left: 0;
    }

    .headertext figure {
        height: 100%;
        width: 20vw;
    }

    .headertext figure figcaption {
        width: 45vw;
        max-width: 300px;
        margin-left: 1.5rem;
    }

    .headertekst figure img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .headertekst figure figcaption p {
        font-size: 1.5rem;
    }

    /* Topics */

    /* ------------------------------------------------------------------------------------------------ */

    .swiper-container {
        height: 300px;
    }

    /* Themes */

    /* ------------------------------------------------------------------------------------------------ */

    .theme {
        padding: 1.5rem;
        background-color: white;
        box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
        border-radius: 0 50px 0 0;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
    }

    .theme h2,
    .theme p {
        margin: 1.5rem 0rem;
        display: inline;
    }

    .theme h2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .theme p {
        grid-area: 2 / 2 / 3 / 3;
    }

    .theme img {
        width: 90%;
        margin-top: 30%;
        max-width: 15rem;
        grid-area: 1 / 1 / 3 / 2;
    }

    .themefold {
        display: block;
    }

    .theme p:nth-child(3) {
        display: none;
    }

    .orange_button {
        display: none;
    }

    /* Podcast */

    /* ------------------------------------------------------------------------------------------------ */

    .podcast {
        display: grid;
        grid-template-columns: 40vw 60vw;
        grid-template-rows: auto;
    }

    .podcastDesktopImage {
        grid-area: 1 / 1 / 3 / 2;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 100px 0;
    }

    .podcast>p {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        max-width: 52vw;
    }

    .image--wrapper {
        width: 20vw;
        height: 20vw;
        max-width: 200px;
        max-height: 200px;
    }

    /* Cases */

    /* ------------------------------------------------------------------------------------------------ */

    .cases {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        flex-direction: row;
        justify-content: center;
        width: 85%;
        margin: 0 auto;
    }

    .timeline,
    .articles {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
    }

    .articles {
        margin-left: 0;
        grid-area: 2 / 1 / 3 / 2;
        justify-content: space-around;
    }

    .timeline {
        margin-bottom: 2rem;
        grid-area: 1 / 1 / 2 / 2;
        justify-content: space-around;
    }

    .line {
        content: '';
        position: absolute;
        width: 100vw;
        height: 0.5rem;
        z-index: -1;
        margin: 0 auto;
        background: linear-gradient(90deg, rgba(237, 237, 237, 1) 65%, rgba(255, 255, 255, 1) 100%);
    }

    .date {
        padding: 0.5rem 0.5rem;
        background-color: var(--blue);
        border-radius: 0px 15px 0px 15px;
        text-align: center;
        width: auto;
        margin: 0rem 6rem;
    }

    .date:nth-child(3),
    .articles article:nth-child(3) {
        display: none;
    }

    .articles article {
        position: relative;
        height: 20vw;
        max-height: 100%;
        width: 40vw;
        margin: 0;
    }

    .casetitle {
        position: absolute;
        z-index: 1;
        color: white;
        text-align: left !important;
        bottom: 0;
        padding: 0.5rem;
        font-weight: bold;
    }

    /* FAQ */

    /* ------------------------------------------------------------------------------------------------ */



    /* Footer */

    /* ------------------------------------------------------------------------------------------------ */
}

/* Media querey for small desktop screen size */

@media screen and (min-width: 1024px) {

    h1 {
        margin-left: 10vw;
    }

    /* Nav */

    header {
        justify-content: space-between;
        padding: 12px 10vw;
    }

    header a svg:hover {
        fill: var(--purple);
    }

    .nav_toggle {
        display: none;
    }

    .menu {
        position: relative;
        transition: none;
        z-index: 18;
        right: 0;
        width: auto;
    }

    .menu ul {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        background-color: none;
        background-color: transparent;
    }

    .menu ul li {
        display: inline-block;
        padding: 0;
        background-color: var(--lightgrey);
        border-bottom: none !important;
    }

    .menu ul li::after {
        content: '';
        display: block;
        width: 0;
        height: 5px;
        margin-top: 5px;
        background-color: var(--purple);
        transition: width .3s;
    }

    .menu ul li:hover::after {
        width: 100%;
    }

    .menu ul li+li {
        margin-left: 120px;
    }

    .menu ul li a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }

    .menu ul li:hover a {
        color: var(--purple);
        transition: 0.3s;
    }

    /* ------------------------------------------------------------------------------------------------ */

    /* Header */

    /* ------------------------------------------------------------------------------------------------ */

    .videocontainer {
        position: relative;
    }

    video:hover {
        cursor: pointer;
    }

    .headertext {
        position: relative;
        background-image: url('../img/border.svg');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        width: 400px;
        top: 0;
        left: 0;
        height: 260px;
        padding-top: 60px;
        padding-left: 10vw;
        padding-bottom: 40px;
    }

    .headertext figure {
        height: auto;
        width: auto;
    }

    .headertext figure figcaption {
        position: relative;
        top: 0;
        margin: 0;
        max-width: 340px;
    }

    .headertext figure figcaption h1 {
        margin-bottom: 1rem;
    }

    .videocontainer {
        display: grid;
        grid-template-columns: 35vw 65vw;
        grid-template-rows: 360px;
        position: relative;
    }

    .videocontainer video {
        grid-area: 1 / 1 / 2 / 3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Topics */

    .slider2{
        scrollbar-width: 100%;
    }
    
    .swiper-container {
        height: 400px;
        margin: 0 10vw !important;
        width: auto;
    }

    .button_topic_right {
        background-color: var(--purple);
        border-radius: 0px 40px 40px 0;
        z-index: 420;
        position: absolute;
        width: 60px;
        height: 100%;
        right: -5vw;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 13px -3px rgba(0, 0, 0, 0.75);
    }

    .swiper-slide h2 {
        position: absolute;
        color: white;
        width: auto;
        height: auto;
        top: 320px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        transition-duration: 0.5s;
    }

    .swiper-slide:hover p{    
        /* display: block; */
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        height: auto;
        color: white;
        transition-duration: all 0.3s ease-in;
        opacity: 100;

    }

    .swiper-slide:hover h2 {
        top: 0;
        transition-duration: 0.5s;
    }

    /* ------------------------------------------------------------------------------------------------ */


    /* Themes */

    .theme {
        border-radius: 0 100px 0 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        text-align: left;
    }

    .themecontainer {
        display: grid;
        grid-template-columns: 1fr repeat(3, 3fr) 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .theme:nth-child(1) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .theme:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
        margin-left: 10%;
    }

    .theme:nth-child(3) {
        grid-area: 1 / 4 / 2 / 5;
        margin-left: 10%;
    }

    .theme img {
        margin: 0 auto;
        width: 90%;
        margin-top: 10%;
        height: 200px;
        max-width: 15rem;
    }

    .orange_button_desktop {
        display: block;
    }

    /* ------------------------------------------------------------------------------------------------ */

    /* Podcast */

    /* ------------------------------------------------------------------------------------------------ */
    .podcast>p {
        margin-top: 2rem;
        margin-left: 1.5rem;
        font-size: 1.2rem;
    }

    .podcast>div {
        display: flex;
        flex-direction: row;
    }

    .slider2 {
        width: 90%;
    }

    .image--wrapper {
        width: 40vw;
        height: 40vw;
        max-width: 200px;
        max-height: 200px;
    }

    .image--wrapper h3,
    .image--wrapper p {
        margin: 0;
        margin-left: 5%;
    }

    .image--wrapper h3 {
        font-size: 1.5rem;
    }

    .image--wrapper p {
        font-size: 1.2rem;
        display: flex;
    }

    .button_podcast_right {
        background-color: var(--purple);
        height: 200px;
        width: 50px;
        border-radius: 0px 30px 30px 0;
        box-shadow: 5px 5px 13px -3px rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: center;
    }

    /* Cases */

    .date:nth-child(3),
    .articles article:nth-child(3) {
        display: block;
    }

    .articles article {
        width: 20vw;
    }

    /* ------------------------------------------------------------------------------------------------ */

    /* FAQ */

    /* ------------------------------------------------------------------------------------------------ */
    
    .faq {
        background-color: #EDEDED;
        display: flex;
        align-items: stretch;
    }

    .faq>div {
        flex-basis: 60%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .faq>.art {
        background-color: #2f99cc;
        border-radius: 0 0 0 100px;
        flex-basis: 40%;
        order: 2;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
    }

    .faq>.art img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: fill;
    }

    .faq details summary {
        font-weight: bold;
        background-color: #EDEDED;
        margin-bottom: 0.5rem;
        cursor: help;
    }

    .faq details {
        background-color: #EDEDED;
        padding-left: 15%;
    }

    .faq details p {
        width: 70%;
        padding-top: 0;
    }

    /* Footer */

    /* ------------------------------------------------------------------------------------------------ */

    .footerflex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 50px;
    }

    .freport {
        position: relative;
    }

    .freport p {
        text-align: left;
    }

    .freport button {
        position: absolute;
        left: 0;
    }

    .flanguage p,
    .flanguage a {
        text-align: right;
    }
}

/* Media querey for standard desktop screen size and larger*/

@media screen and (min-width: 1440px) {

    p {
        font-size: 1.1rem;
    }

    /* Nav */

    /* ------------------------------------------------------------------------------------------------ */


    /* Header */

    /* ------------------------------------------------------------------------------------------------ */


    /* Topics */

    /* ------------------------------------------------------------------------------------------------ */


    /* Themes */

    /* ------------------------------------------------------------------------------------------------ */


    /* Podcast */

    /* ------------------------------------------------------------------------------------------------ */


    /* Cases */

    /* ------------------------------------------------------------------------------------------------ */


    /* FAQ */

    /* ------------------------------------------------------------------------------------------------ */


    /* Footer */

    /* ------------------------------------------------------------------------------------------------ */

}