
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
    color: black;
    scroll-behavior: smooth;
    
    overflow-x: hidden; 
}


:root {
    --purple: #564BAA;
    --blue: #42AAE1;
    --orange: #F06419;
    --lightgrey: #EDEDED;
    --grey: #E7E7E7;
    --rijksblue: #154273;
}

body{
    background-color: var(--blue);
}



/* Nav */

/* ------------------------------------------------------------------------------------------------ */
.abovenav{
    background-color: white;
   padding-bottom: 0.1rem;

}

.abovenav img {
    display: block;
    margin: 0 auto 25px;
    width: 5vh;
}



header {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgrey);
    padding: 1rem;
}

header a svg {
    width: 25vw;
    max-width: 114px;
}

.nav_toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav_toggle_line {
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before,
.nav_toggle_line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--purple);
    transition: all .5s ease-in-out;
}

.nav_toggle_line::before {
    transform: translateY(-16px);
}

.nav_toggle_line::after {
    transform: translateY(16px);
}

.nav_toggle.open .nav_toggle_line {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.nav_toggle.open .nav_toggle_line::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.nav_toggle.open .nav_toggle_line::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
    position: absolute;
    width: 100vw;
    right: 100vw;
    top: 100%;
    transition: .5s ease-in;
}

.menu ul {
    background-color: var(--grey);
    list-style: none;
    margin-bottom: 0;
}

.menu ul li {
    padding: 1rem 0 1rem 2rem;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li:not(:last-child) {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.active {
    right: 0%;
    transition: .5s ease-in;
}

/* Nav end */

/* ------------------------------------------------------------------------------------------------ */

/* Footer */

footer {
    background-color: #E7E7E7;
    padding-top: 2rem;
}

.freport p {
    width: 300px;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.freport button:hover {
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black;
    cursor: pointer;
}

.flintje {
    margin: 0 auto;
    background-color: var(--rijksblue);
    height: 1rem;
    width: 3rem;
}

.flogo {
    display: block;
    padding-bottom: 5%;
    width: 25vw;
    max-width: 250px;
    margin: 0 auto;
    fill: var(--rijksblue);
}

.flanguage {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 auto;
}

.flanguage p {
    text-align: center;
    margin-top: 1rem;
}

.flanguage a {
    text-align: center;
    color: #660099;
    text-decoration: none;
}

.language_toggle {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.language_toggle p {
    padding: 0.2rem;
}

.language_toggle p:nth-child(odd) {
    transition: all .1s ease-in;
}

.language_toggle p:nth-child(odd):hover {
    cursor: pointer;
}

.toggled {
    transition: all .1s ease-in;
    border-bottom: 2px solid black;
}

.fbottom {
    background-color: grey;
    margin-top: 2rem;
}

.fbottom p {
    width: 100%;
    text-align: center;
}

.freport button {
    border: none;
    margin: 0.5rem 0rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem 1rem;
    width: 150px !important;
}

.freport {
    text-align: center;
    margin: 0 auto;
}

.lintje {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 60px;
    align-content: center;
    background-color: var(--rijk);
}

/* Footer end */

/* ------------------------------------------------------------------------------------------------ */

/* year sections with text */



.tekst1{
    position: absolute;
    top: 0;
    width: 100vw;
}   


.tekst1 h1, .tekst1 h2, .tekst1 button{

    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 15%;

}


.year-section h1, .year-section h2{
    max-width: 70%;
}

button{
    border: none;
    width: 30%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}


/* year sections with text end */

/* ------------------------------------------------------------------------------------------------ */

/* Overlay */

    .cnt223 a{
    text-decoration: none;
    }

    .popup{
    width: 100vw;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
 
    }

    .cnt223 h1{
        color: white;
    }
    .cnt223{
    width: auto;
    margin: 0 auto;
    background: var(--purple);
    position: relative;
    z-index: 103;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    border-radius: 0px 25px 0px 25px;
    opacity: 0.9;
    text-align: center;
    }

    .cnt223 p{
    clear: both;
        color: white;
        /* text-align: justify; */
        font-size: 20px;
        font-family: sans-serif;
    }
    .cnt223 p a{
    color: #d91900;
    font-weight: bold;
    }
    .cnt223 .x{
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
    }
    .cnt223 .x:hover{
    cursor: pointer;
    }

/* Overlay end */

/* ------------------------------------------------------------------------------------------------ */




@media screen and (min-width: 768px) {


/* year sections with text */


.tekst1{
    position: absolute;
    top: 0;
    width: 100vw;
}   


.tekst1 h1, .tekst1 h2, .tekst1 button{

    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 10%;
}

.year-section h1, .year-section h2{
    max-width: 50%;
}

button{
    border: none;
    width: 10%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}


  #image-container {
    width: 100vw;
    height: 100%;
    overflow-y: auto;
  }
  
  #imagecontainer .year-section {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
  }
  
  #image-container .year-section img {
    border-bottom-right-radius: 150px;
    width: 100vw;
    height: calc(100% + 150px);
    top: -150px;
    position: relative;
    object-fit: cover;
  }
  
  #image-container .year-section:nth-of-type(1) {
    z-index: 5;
  }
  
  #image-container .year-section:nth-of-type(2) {
    z-index: 4;
  }
  
  #image-container .year-section:nth-of-type(3) {
    z-index: 3;
  }
  
  #image-container .year-section:nth-of-type(4) {
    z-index: 2;
  }
  
  #image-container .year-section:nth-of-type(5) {
    z-index: 1;
  }


/* year sections with text end */

/* ------------------------------------------------------------------------------------------------ */

/* timeline */

.verticalnav a{
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.6em;
    display: inline-block;
    transition: transform 300ms ease-in-out;
}

.verticalnav a.active {
    transform: scale(1.5);
    transform-origin: right;
}
 
body > .verticalnav {
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.verticalnav{
    z-index: 9000;
    position: fixed;
    width: 10%;
    text-align: center;
    right: 0;
}

header {
    justify-content: space-between;
    padding: 12px 10vw;
}


.nav_toggle {
    display: none;
}

.menu {
    position: relative;
    transition: none;
    z-index: 18;
    right: 0;
}

.menu ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: none;
    background-color: transparent;
}

.menu ul li {
    padding: 0;
    background-color: var(--lightgrey);
    border-bottom: none !important;
}

.menu ul li a {
    font-weight: bold;
}

.werkend{
    color: green;
    font-weight: bold;
}

.werkt{
color: white;
font-weight: normal;
}



/* timeline end */

/* ------------------------------------------------------------------------------------------------ */

/* Overlay */
    .popup{
    width: 100%;
    }

    .cnt223{
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    }


/* Overlay end */

/* ------------------------------------------------------------------------------------------------ */

 /* Nav */



.nav_toggle {
    display: none;
}

.menu {
    position: relative;
    transition: none;
    z-index: 18;
    right: 0;
    width: auto;
}

.menu ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: none;
    background-color: transparent;
}

.menu ul li {
    padding: 0;
    background-color: var(--lightgrey);
    border-bottom: none !important;
}

.menu ul li + li {
    margin-left: 120px;
}

.menu ul li a {
    font-weight: bold;
}


/* ------------------------------------------------------------------------------------------------ */

 }

 @media screen and (min-width: 1024px) {
       /* Nav */

    
    
    header {
        justify-content: space-between;
        padding: 12px 10vw;
    }

    .logo {
        transition: 0.2s;
    }

    .logo:hover {
        fill: var(--purple);
        transition: 0.2s;
    }

    .nav_toggle {
        display: none;
    }

    .menu {
        position: relative;
        transition: none;
        z-index: 18;
        right: 0;
        width: auto;
    }

    .menu ul {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        background-color: none;
        background-color: transparent;
    }

    .menu ul li {
        display: inline-block;
        padding: 0;
        background-color: var(--lightgrey);
        border-bottom: none !important;
    }

    .menu ul li::after {
        content: '';
        display: block;
        width: 0;
        height: 5px;
        margin-top: 5px;
        background-color: var(--purple);
        transition: width .3s;
    }

    .menu ul li:hover::after {
        width: 100%;
    }

    .menu ul li+li {
        margin-left: 120px;
    }

    .menu ul li a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }

    .menu ul li:hover a {
        color: var(--purple);
        transition: 0.3s;
    }

    /* ------------------------------------------------------------------------------------------------ */

    /* footer */
    
    .footerflex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 50px;
    }

    .freport {
        position: relative;
    }

    .freport p {
        text-align: left;
    }

    .freport button {
        position: absolute;
        left: 0; 
    }

    .flanguage p,
    .flanguage a {
        text-align: right;
    }
    .flogo {
        max-width: 150px;
        transition: 0.2s;
    }

    .flogo:hover {
        fill: var(--purple);
        transition: 0.2s;
    }

}
