
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
    color: black;
    scroll-behavior: smooth;
}


:root {
    --purple: #564BAA;
    --blue: #42AAE1;
    --orange: #F06419;
    --lightgrey: #EDEDED;
    --grey: #E7E7E7;
    --rijksblue: #154273;
}

main{
    position: relative;
}

a{
    display: contents;
    text-decoration: none;
}

/* Nav */

.verticalnav a{
    position: relative;
    color: white;
    text-decoration: none;
    padding: 1rem 8px;
    font-size: 1rem;
    display: inline-block;
    transition: transform 300ms ease-in-out;

}

.verticalnav a.active {
    transform: scale(1.2);
    font-weight: bold;
    transform-origin: right;
    color: var(--orange);
}

.verticalnav{
    z-index: 12;
    position: sticky;
    text-align: center;
    top: 700px;
    width: 90vw;
    text-align: center;
    margin: 0 auto;

}


/* ------------------------------------------------------------------------------------------------ */

/* Nav end */

/* ------------------------------------------------------------------------------------------------ */

/* Footer */

footer {
    background-color: #E7E7E7;
    padding-top: 2rem;
}

.freport p {
    width: 300px;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.freport button:hover {
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black;
    cursor: pointer;
}

.flintje {
    background-color: var(--rijksblue);
    height: 1rem;
    width: 3rem;
    z-index: 11;
    position: relative;
    margin: 0 auto;
}

.flogo {
    display: block;
    padding-bottom: 5%;
    width: 25vw;
    max-width: 250px;
    margin: 0 auto;
    fill: var(--rijksblue);
}

.flanguage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 auto;
}

.flanguage p {
    text-align: center;
    margin-top: 1rem;
}

.flanguage a {
    text-align: center;
    color: #660099;
    text-decoration: none;
}

.language_toggle {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.language_toggle p {
    padding: 0.2rem;
}

.language_toggle p:nth-child(odd) {
    transition: all .1s ease-in;
}

.language_toggle p:nth-child(odd):hover {
    cursor: pointer;
}

#overlay section > img {
    width: 38px;
}

.toggled {
    transition: all .1s ease-in;
    border-bottom: 2px solid black;
}

.fbottom {
    background-color: grey;
    margin-top: 2rem;
}

.fbottom p {
    width: 100%;
    text-align: center;
}

.freport button {
    border: none;
    margin: 0.5rem 0rem;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem 1rem;
    width: 150px !important;
}

.freport {
    text-align: center;
    margin: 0 auto;
}

.lintje {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 60px;
    align-content: center;
    background-color: var(--rijk);
    z-index: 150;
}

/* Footer end */

/* ------------------------------------------------------------------------------------------------ */

/* year sections with text */

#image-container {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: -1rem;
    display: flex;
    flex-direction: row;
    width: auto;
    scroll-snap-type: x mandatory;
    background-color: black;
    margin-top: -10rem;
}

#image-container .year-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    overflow: visible;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


#image-container .year-section img {
    border-bottom-right-radius: 150px;
    height: 100%;
    width: calc(100vw + 150px);
    left: -150px;
    position: relative;
    object-fit: cover;
    filter: brightness(50%);
}

#image-container .year-section:nth-of-type(1) {
    z-index: 10;
}

#image-container .year-section:nth-of-type(2) {
    z-index: 9;
}

#image-container .year-section:nth-of-type(3) {
    z-index: 8;
}

#image-container .year-section:nth-of-type(4) {
    z-index: 7;
}

#image-container .year-section:nth-of-type(5) {
    z-index: 6;
}

#image-container .year-section:nth-of-type(6) {
    z-index: 5;
}

#image-container .year-section:nth-of-type(7) {
    z-index: 4;
}

#image-container .year-section:nth-of-type(8) {
    z-index: 3;
}

#image-container .year-section:nth-of-type(9) {
    z-index: 2;
}

#image-container .year-section:nth-of-type(10) {
    z-index: 1;
}

button:hover {
    border-color: none;
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black !important;
    cursor: pointer;

}
.tekst1{
    position: absolute;
    top: 0;
    width: 100vw;
}   


.tekst1 h1, .tekst1 h2, .tekst1 button{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 20%;

}


.year-section h1, .year-section h2{
    max-width: 90%;
}

.year-section h2{
    font-size: 1.2rem;
}

button{
    border: none;
    width: 30%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}


/* year sections with text end */

/* ------------------------------------------------------------------------------------------------ */

/* Overlay */

    .cnt223 a{
    text-decoration: none;
    }

    .popup{
    width: 100vw;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
 
    }

    .cnt223 h1{
        color: white;
    }

    .cnt223{
        width: auto;
        margin: 0 auto;
        background: rgba(86, 75, 170, 0.9);
        position: relative;
        z-index: 103;
        padding: 15px 35px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #000;
        border-radius: 0px 25px 0px 25px;
        opacity: 0.9;
        text-align: center;
    }

    .cnt223 p{
        clear: both;
        color: white;
        /* text-align: justify; */
        padding: 2rem;
        font-size: 20px;
        font-family: sans-serif;
    }
    .cnt223 p a{
    color: #d91900;
    font-weight: bold;
    }
    .cnt223 .x{
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
    }
    .cnt223 .x:hover{
    cursor: pointer;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
        width: 30px;
    }


    .overlay{
        z-index: 95;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    } 
/* Overlay end */

/* ------------------------------------------------------------------------------------------------ */




@media screen and (min-width: 768px) {

    
    body{
        background-color: black;
    }

    .abovenav{
        background-color: white;
        padding-bottom: 0.1rem;
    }

    .flintje{
        position: relative;
        margin: 0 auto;
        z-index: 11;
    }
/* year sections with text */

.year-section h2{
    font-size: 1.5rem;
}



.year-section h1, .year-section h2{
    max-width: 70%;
}

button:hover {
    border-color: none;
    box-shadow: inset 0px 0px 0px 5px var(--orange);
    background-color: white;
    color: black !important;
    cursor: pointer;

}
.tekst1{
    position: absolute;
    top: 0;
    width: 100vw;
}   


.tekst1 h1, .tekst1 h2, .tekst1 button{

    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 15%;

}


.year-section h1, .year-section h2{
    max-width: 70%;
}

button{
    border: none;
    width: 30%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}


.tekst1{
    position: absolute;
    top: 0;
    width: 100vw;
}   


.tekst1 h1, .tekst1 h2, .tekst1 button{
    min-width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 20%;
}

.year-section h1, .year-section h2{
    max-width: 50%;
}

button{
    border: none;
    width: 10%;
    border-radius: 0px 25px 0px 25px;
    background-color: var(--orange);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px -12px rgba(143, 143, 143, 1);
    font-weight: bold;
}

#image-container .year-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    overflow: visible;
}

#image-container .year-section img {
    border-bottom-right-radius: 150px;
 
    height: calc(100% + 150px);
    top: -150px;
    position: relative;
    object-fit: cover;
    filter: brightness(50%);
}

#image-container .year-section:nth-of-type(1) {
    z-index: 10;
}

#image-container .year-section:nth-of-type(2) {
    z-index: 9;
}

#image-container .year-section:nth-of-type(3) {
    z-index: 8;
}

#image-container .year-section:nth-of-type(4) {
    z-index: 7;
}

#image-container .year-section:nth-of-type(5) {
    z-index: 6;
}

#image-container .year-section:nth-of-type(6) {
    z-index: 5;
}

#image-container .year-section:nth-of-type(7) {
    z-index: 4;
}

#image-container .year-section:nth-of-type(8) {
    z-index: 3;
}

#image-container .year-section:nth-of-type(9) {
    z-index: 2;
}

#image-container .year-section:nth-of-type(10) {
    z-index: 1;
}

#image-container {
    margin-top: 0rem;
    margin-bottom: -1rem;
    display: block;
    overflow-x: hidden;
}
/* year sections with text end */

/* ------------------------------------------------------------------------------------------------ */

/* timeline */

.verticalnav a{
    position: relative;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    display: inline-block;
    transition: transform 300ms ease-in-out;
}

.verticalnav a.active {
    transform: scale(1.2);
    transform-origin: right;
    color: var(--orange);
}
 
.verticalnav {
    height: 6vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: auto;
    top: 30%;
}

.verticalnav{
    z-index: 12;
    position: fixed;
    padding-left: 15%;
    text-align: center;
    bottom: auto;
    right: 0;

}

/* header {
    justify-content: space-between;
    padding: 12px 10vw;
}


.nav_toggle {
    display: none;
}

.menu {
    position: relative;
    transition: none;
    z-index: 18;
    right: 0;
}

.menu ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: none;
    background-color: transparent;
}

.menu ul li {
    padding: 0;
    background-color: var(--lightgrey);
    border-bottom: none !important;
}

.menu ul li a {
    font-weight: bold;
} */

.werkend{
    color: green;
    font-weight: bold;
}

.werkt{
color: white;
font-weight: normal;
}



/* timeline end */

/* ------------------------------------------------------------------------------------------------ */

/* Overlay */
    .popup{
    width: 100%;
    }

    .cnt223{
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    }


/* Overlay end */

/* ------------------------------------------------------------------------------------------------ */

 /* Nav */

/* ------------------------------------------------------------------------------------------------ */

 }



 @media screen and (min-width: 1024px) {
    /* Nav */

       .menu ul li:nth-child(3) a{
        color: var(--purple);
    }

    .verticalnav{
        top: 0;
    }

    /* ------------------------------------------------------------------------------------------------ */
    .cnt223 h1{
        margin-left: 0 !important;
    }

    .tekst1 h1, .tekst1 h2, .tekst1 button{
        min-width: 200px;
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 10%;
    }
    /* footer */
    
    .footerflex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: 50px;
    }

    .freport {
        position: relative;
    }

    .freport p {
        text-align: left;
    }

    .freport button {
        position: absolute;
        left: 0; 
    }

    .flanguage p,
    .flanguage a {
        text-align: right;
    }
    .flogo {
        max-width: 150px;
        transition: 0.2s;
    }

    .flogo:hover {
        fill: var(--purple);
        transition: 0.2s;
    }
        

}
